<% provide(:title, "Log in") %>
<h1>Log in</h1>

<!--i noticed that when i didn't have row the edges weren't flush
    on the right and left sides -->
<div class="row">
  <!-- i noticed that 'col-md-offset-3 moves the bar 3 * 1/12ths
       units to to the right from the left side of the screen
       'col-md-6 moves' makes the unit 6 * 1/12th of a size-->
  <div class="col-md-offset-3 col-md-6">
    <!-- the form doesn't show up if you don't make the first
         line return a line -->
    <%= form_for(:session, url: login_path) do |f| %>
    
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      
      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>Remember me on this computer</span>
      <% end %>
        
      <%= f.submit "Log in", class: "btn btn-primary" %>
    
    <% end %>
    
    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>
